<h1>Welcome to MarketMOBILE</h1>

<h2>Products</h2>
<%= link_to("See all", products_path) %>
<%= link_to("New Product", new_product_path) %>

<h2>Vendors</h2>
<%= link_to("See all", vendors_path) %>
<%= link_to("New Vendors", new_vendor_path) %>

<h2>Vendor Info Record</h2>
<%= link_to("New Info Record", new_vendor_price_quote_path) %>
<%= link_to("View Price Comparison") %>

