<h1>Welcome to MarketMOBILE</h1>

<h2>Products</h2>
<ul>
  <li><%= link_to("See all", products_path) %></li>
  <li><%= link_to("New Product", new_product_path) %></li>
</ul>

<h2>Vendors</h2>
<ul>
  <li><%= link_to("See all", vendors_path) %></li>
  <li><%= link_to("New Vendors", new_vendor_path) %></li>
</ul>

<h2>Vendor Product Detail</h2>
<ul>
  <li><%= link_to("New Detail", new_vendor_price_quote_path) %></li>
  <li><%= link_to("Mass Insert") %></li>
  <li><%= link_to("Price Compare") %></li>
</ul>

